ErrorDocument 404 http://dev.newawe.com/?p=404


RewriteEngine  on
RewriteRule    "/(.+)"  "http://dev.newawe.com/?p=$1"

AuthType Basic
AuthName "Restricted Files"
# (Following line optional)
AuthBasicProvider file
AuthUserFile "/home/herohampYT/web/dev.newawe.com/private/newawe"
Require user newawe
