ErrorDocument 404 http://dev.newawe.com/?p=404

Options +FollowSymLinks
RewriteEngine On
RewriteBase /
RewriteRule /home  /index.php?p=home

AuthType Basic
AuthName "Restricted Files"
# (Following line optional)
AuthBasicProvider file
AuthUserFile "/home/herohampYT/web/dev.newawe.com/private/newawe"
Require user newawe
