/*todo: add breakpoints to make nav more responsive*/
nav {
  background: white;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 50px;
}

nav ul li img {
  height: 100%;
}

nav ul li {
  display: block;
  float: left;

  color: black;
  height: 50px;
  line-height: 50px;

  margin: 0;
  padding: 0;
}


nav .nav-link {
  display: inline-block;

  padding: 0 10px;
  height: 100%;
  color: #00A3C6;
  font-weight:500;
}
nav .nav-link:hover{
  color: #00D0F0;
  background-color: #EEEEEE;
}

body > header {
  background: #00A3C6;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 6px -2px #000000;
  color: #FFFFFF;
}

.container {
  padding: 20px;
}
