{\rtf1\ansi\deff0\nouicompat{\fonttbl{\f0\fnil\fcharset0 Calibri;}}
{\*\generator Riched20 10.0.10586}\viewkind4\uc1 
\pard\sa200\sl276\slmult1\f0\fs22\lang9 html,\par
body \{\par
\tab height: 100%;\par
\}\par
body \{\par
\tab font: 13px Helvetica Neue, Helvetica, sans-serif;\par
\tab margin: 0;\par
\tab background-image: url("background.png");\par
\}\par
header \{\par
\tab position: fixed;\par
\tab top: 0;\par
\tab left: 0;\par
\tab right: 0;\par
\tab height: 35px;\par
\tab padding: 0 10px;\par
\tab background-color: #0F8BC0;\par
\tab -webkit-box-shadow: 0 1px 1px #ccc;\par
\tab -moz-box-shadow: 0 1px 1px #ccc;\par
\tab -o-box-shadow: 0 1px 1px #ccc;\par
\tab box-shadow: 0 1px 1px #ccc;\par
\tab z-index: 200;\par
\}\par
\par
\par
a.scratch\{\tab\par
\tab float: left;\par
\tab display: block;\par
\tab width: 80px;\par
\tab height: 35px;\par
\tab background: url("scratchlogo.png") left center no-repeat;\par
\tab text-indent: -99999em;\par
\tab padding: 0 2px;\par
\}\par
a.scratch:hover\{\par
\tab background: url("scratchlogo_highlight.png") left center no-repeat;\par
\}\par
\par
header ul,\par
footer ul \{\par
\tab padding: 0;\par
\tab margin: 0;\par
\tab list-style-type: none;\par
\}\par
header .left \{\par
\tab font-size: 15px;\par
\}\par
header .right \{\par
\tab float: right;\par
\}\par
header li \{\par
\tab float: left;\par
\}\par
header li a \{\par
\tab display: block;\par
\tab border-left: 1px solid #149acb;\par
\tab padding: 0px 15px;\par
\tab line-height: 35px;\par
\tab text-decoration: none !important;\par
\tab cursor: pointer;\par
\par
\}\par
\par
header li.last\{\par
\tab border-right: 1px solid #149acb;\par
\}\par
header li a,\par
header li a:active \{\par
\tab color: #fff;\par
\}\par
header li a:hover, #userfcttoggle.open \{\par
\tab background-color: #0c6185;\par
\}\par
\par
.caret\{\par
\tab width: 0;\par
\tab height: 0;\par
\tab display: inline-block;\par
\tab content: "&darr;";\par
\tab text-indent: -99999px;\par
\tab vertical-align: top;\par
\tab margin-left: 4px;\par
\tab border-left: 4px solid transparent;\par
\tab border-right: 4px solid transparent;\par
\tab border-top: 4px solid #fff;\par
\tab opacity: .5;\par
\tab vertical-align: middle;\par
\}\par
.container \{\par
\tab max-width: 940px;\par
\tab margin: auto;\par
\}\par
.main \{\par
\tab min-height: 100%;\par
\}\par
.main-inner \{\par
\tab padding: 50px 0 8em 0;\par
\}\par
.main .left \{\par
\tab float: left;\par
\tab width: 160px;\par
\tab //padding: 140px 0 0 0;\par
\tab display: block;\par
\tab //background-image: url("wiki.png") ;\par
\tab //background-repeat: no-repeat;\par
\}\par
\par
\par
.wikilogo_space\{\par
\tab height: 150px;\par
\tab margin-left: 15px;\par
\}\par
\par
.wikilogo\{\par
\tab background-image: url("wikilogo2.png") ;\par
\tab background-repeat: no-repeat;\par
\tab height: 140px;\par
\tab display: block;\par
\}\par
.main .right \{\par
\tab width: 760px;\par
\tab margin-left: 180px;\par
\}\par
.main-inner::after,\par
.main .left::after,\par
.main .right::after \{\par
\tab content: '.';\par
\tab display: block;\par
\tab clear: both;\par
\tab height: 0;\par
\tab overflow: hidden;\par
\}\par
.main .left .sidebar \{\par
\tab float: left;\par
\tab width: 100%;\par
\}\par
.box \{\par
\tab background: #f7f7f7;\par
\tab border: 1px solid #E0E0E0;\par
\tab -moz-border-top-left-radius: 10px;\par
\tab -moz-border-top-right-radius: 10px;\par
\tab -webkit-border-top-left-radius: 10px;\par
\tab -webkit-border-top-right-radius: 10px;\par
\tab border-top-left-radius: 10px;\par
\tab border-top-right-radius: 10px;\par
\tab -webkit-box-shadow: 0 2px 3px rgba(34,25,25,0.3);\par
\tab -moz-box-shadow: 0 2px 3px rgba(34,25,25,0.3);\par
\tab -o-box-shadow: 0 2px 3px rgba(34,25,25,0.3);\par
\tab box-shadow: 0 2px 3px rgba(34,25,25,0.3);\par
\tab margin: 0px 0px 20px;\par
\}\par
.box > h1 \{\par
\tab margin: 0;\par
\tab padding: 7px 20px;\par
\tab position: relative;\par
\tab /*overflow: hidden;*/\par
\tab border-top: 1px solid #fff;\par
\tab box-radius: 10px;\par
\tab -moz-border-radius: 10px;\par
\tab -webkit-border-radius: 10px;\par
\tab font-size: 16px;\par
\}\par
article.box > h1 \{\par
\tab font-size: 22px;\par
\}\par
h1.firstHeading,\par
h2 \{\par
  border-bottom: solid 1px black;\par
\}\par
.box-content \{\par
\tab background: #fff;\par
\tab border-top: 1px solid #e0e0e0;\par
\tab position: relative;\par
\tab padding: 5px 20px 20px 20px;\par
\tab margin: 0;\par
\tab list-style-type: none;\par
\}\par
.box-content h1 \{\par
    font-size: 2em;\par
    border-bottom: 1px solid #aaa;\par
    padding-bottom: 4px;\par
\}\par
nav.box li a \{\par
\tab padding: 2px 0;\par
\tab display: block;\par
\}\par
a \{\par
\tab color: #1aa0db;\par
\tab //color: orange;\par
\tab text-decoration: none;\par
\}\par
a.new\{\par
\tab color: red;\par
\tab text-decoration: none;\par
\}\par
\par
a.external \{\par
\tab background: url(external-link.png) center right no-repeat;\par
\tab padding-right: 13px;\par
\}\par
a:hover,\par
a:focus,\par
a:active \{\par
\tab text-decoration: underline;\par
\}\par
.catlinks \{\par
    background-color: #EEEEEE;\par
    border: 1px solid #CCCCCC;\par
    margin: 20px 0 10px;\par
    padding: 5px;\par
    text-align: left;\par
\}\par
footer \{\par
\tab background-color: #ececec;\par
\tab padding-top: 1em;\par
        padding-bottom: 1em;\par
\tab color: #5f5f5f;\par
\tab text-align: center;\par
\tab height: 20em;\par
\tab margin-top: -7em;\par
\tab -webkit-box-shadow: inset 0 0 10px #ccc;\par
\tab -moz-box-shadow: inset 0 0 10px #ccc;\par
\tab box-shadow: inset 0 0 10px #ccc;\par
\}\par
\par
footer h4\{\par
\tab margin-bottom:5px\par
\}\par
footer ul li \{\par
\tab display: inline-block;\par
\tab line-height: 1.5385em;\par
\}\par
footer ul a \{\par
\tab display: block;\par
\tab //padding: 0 15px;\par
\}\par
footer p \{\par
\tab clear: both;\par
\tab font-size: 11px;\par
\tab margin: 0;\par
\tab padding: 1em 0 0;\par
\}\par
\par
.printfooter \{\par
\tab display:none;\par
\}\par
\par
/*TO BE ORGANIZED */\par
\par
/* search bar */\par
\par
form.search \{\par
   display: inline-block;\par
   margin: 0 10px;\par
   position: relative;\par
   margin-top: 5px;\par
\}\par
form.search input \{\par
-webkit-border-radius: 10px;\par
border-radius: 10px;\par
height: 23px;\par
//display: inline-block;\par
padding-left: 33px;\par
width: 204px;\par
border: none;\par
\par
\par
\par
\}\par
form.search input:focus \{\par
outline: none;\par
 \}\par
form.search .glass \{\par
background: url("../images/nav-search-glass.62d43b28d86a.png") no-repeat 9px center;\par
width: 26px;\par
height: 23px;\par
position: absolute;\par
border: 0;\par
border-right: 1px solid #ccc;\par
padding-left: 28px;\par
padding-right: 0;\par
opacity: .8;\par
-moz-border-radius: 0;\par
-webkit-border-radius: 0;\par
border-radius: 0;\par
 background: url("nav-search-glass.png") no-repeat center center;\par
\}\par
\par
\par
\par
/* page fct dropdown */\par
.user \{\par
\tab position: relative;\par
\}\par
#pagefctbtn \{\par
\tab background: url("edit.png") no-repeat scroll center center transparent;\par
    border-radius: 3px 3px 3px 3px;\par
    display: inline-block;\par
    width: 35px;\par
\tab height: 25px;\par
    vertical-align: top;\par
\tab float: right;\par
\tab margin-top: 5px;\par
\tab cursor: pointer;\par
\tab z-axis: 3;\par
\}\par
#pagefctbtn.open, #pagefctbtn:hover \{\par
\tab background-color: #DDDDDD !important;\par
\}\par
.dropdownmenu \{\par
\tab display: block;\par
\tab position: absolute;\par
\tab padding: 0;\par
        top: 36px;\par
\tab font-size: 14px;\par
\tab list-style: none;\par
\tab display: none;\par
\tab z-index: 200;\par
\tab background-color: #DDDDDD;\par
\tab overflow: hidden;\par
\tab border-radius: 5px;\par
\tab border-top-right-radius: 0;\par
\tab box-shadow: 0px 1px 1px #888a85;\par
\}\par
.dropdownmenu li \{\par
\tab float: none;\par
\}\par
.dropdownmenu li:hover \{\par
\tab background-color: #EEEEEE;\par
\}\par
.dropdownmenu li a \{\par
\tab font-weight: normal;\par
\tab text-decoration: none;\par
\tab display: block;\par
\tab width: 130px;\par
\tab padding: 5px 15px !important;\par
\tab line-height: normal;\par
\}\par
.dropdownmenu img \{\par
\tab margin-right: 10px;\par
\tab vertical-align: text-bottom;\par
\}\par
#firstHeading \{\par
\tab margin: 0 0 0.1em 0;\par
\tab padding: 0;\par
\}\par
#content \{\par
\tab margin: 0;\par
\tab padding: 0;\par
\}\par
#userfctdropdown \{\par
\tab display: none;\par
\tab right: 0;\par
\tab top: 33px;\par
\tab border-top-left-radius: 0;\par
\tab background-color:#0F8BC0;\par
\tab color: #FFFFFF;\par
\}\par
#userfctdropdown li a \{\tab\par
\tab border: none;\par
\}\par
#userfctdropdown li a:hover \{\par
\tab background-color: #0C6185;\par
\}\par
\par
#pagefctdropdown\{\par
\tab margin-left: 555px; //temporary solution\par
\}\par
#pagefctdropdown li a \{\par
\tab color: #888;\par
\}\par
.editsection \{\par
\tab font-size: 14px;\par
\tab font-weight: normal;\par
\tab margin: 5px 5px 0 0;\par
\tab float:right;\par
\}\par
.catlinks-allhidden \{\par
\tab display:none;\par
\}\par
\par
/*ctype boxes */\par
/*\par
.ctype \{\par
\tab border: none !important;\par
    border-radius: 10px !important;\par
\tab color: #FFFFFF;\par
\}*/\par
.ctype h1 \{\par
\tab font-size: 14px;\par
\}/*\par
.ctype-descriptive \{\par
\tab background-color: #0F8BC0;\par
\}\par
.ctype-helppage \{\par
\tab background-color: #299027;\par
\}\par
.ctype-portal \{\par
\tab background-color: #dc7700;\par
\}\par
.ctype .box-content \{\par
\tab background: none;\par
\tab border: none;\par
\}*/\par
\par
\par
\par
.new \{\par
    color: #e1314c;\par
\}\par
dt \{\par
    font-weight: bold;\par
\}\par
\par
\par
#toc \{\par
    border: 1px solid #aaa;\par
    padding: 10px 10px;\par
    display: inline-block;\par
\}\par
#toctitle h2 \{\par
    display: inline;\par
    font-size: 1.25em;\par
\}\par
.toctoggle \{\par
    float: right;\par
    padding-left: 5px; font-size: 14px; font-weight: normal;\par
    margin: 0 5px 0 0;\par
    line-height: 20px;\par
\}\par
#toc ul \{\par
    list-style: none;\par
\}\par
#toc ul \{\par
    margin: 0.5em 0;\par
\}\par
#toc li \{\par
    line-height: 18px;\par
\}\par
\par
\par
.thumbinner \{\par
    margin: 2em 0;\par
\}\par
.thumb.tright \{\par
    margin-left: 2em;\par
\}\par
.thumb.tleft \{\par
    margin-right: 2em;\par
\}\par
\par
div.thumbinner \{\par
  border: 1px solid #ccc;\par
  padding: 3px !important;\par
  background-color: #f9f9f9;\par
  font-size: 94%;\par
  text-align: center;\par
  overflow: hidden;\par
\}\par
\par
\par
/* fix diff scrollbars */\par
table.diff td div \{\par
    overflow: visible;\par
\}\par
\par
img\{\par
\tab max-width: 100%;\par
\}\par
\par
#mw-content-text\{\par
\tab overflow: hidden;\par
\}\par
ul#f-list li \{\par
\tab display: inline-block;\par
\tab font-size: 11px;\par
\tab color: rgb(95, 95, 95);\par
\}\par
ul#f-list \{\par
\tab text-align: center;\par
\}\par
+\par
 +pre \{\par
 +\tab padding: 0.5em;\par
 +\tab white-space: pre-wrap;\par
 +\}\par
 +\par
 +code \{\par
\fs36  +\tab display: inline-block;\par
 +\tab white-space: nowrap;\par
 +\tab border-radius: 3px;\par
 +\tab max-width: 100%;\par
 +\tab overflow: auto;\par
 +\tab vertical-align: middle;\par
 +\tab padding: 0;\par
 +\tab margin: 0;\par
 +\}\par
 +\par
 +code, pre \{\par
 +\tab border: 1px solid #eee;\par
 +\tab background-color: #f8f8f8;\par
 +\tab line-height: 1.3;\par
 +\}\par
}
 