<div style="text-align:center;font-size:50px" id="404funny">&lt;_&lt; &nbsp;&nbsp;&nbsp; &gt;_&gt; <br /> We don't see that page anywhere.</div><br /><div style="text-align:center;font-size:20px;">If you clicked on a link that brought you here from inside the site, please 'contact us link here'. Otherwise, check your spelling and try again.</div>
  <script>
    var text = document.getElementById('404funny');
    text.innerHTML = "&lt;_&lt;";
    
    function stepTwo() {
      var i = 10;
      while(i>0){
        i=i-1;
        text.style.opacity = 
      }
    }
  </script>
